body {
 background-image: url("https://assets.afcdn.com/recipe/20190529/93153_w1024h768c1cx2220cy1728cxt0cyt0cxb4441cyb3456.jpg");
 background-color: #cccccc;
}

p{
color : white;
}

h2{
color : white;
}

h1{
color : white;
}

button {
  background-color: #e7e7e7; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px
  font-size: 12px;
}
